.navbar { 
    font-family: Copperplate; 
    font-size: 20px;
    background-image: linear-gradient(to right, gold, rgb(242, 236, 221)); 

}


h1, h2, h3, h4, h5 {
    font-family: Copperplate;
}

.card {
    background-color: rgb(242, 236, 221);

}

.card-img-top {
    width: 100%;
    object-fit: fill;
    border-radius: 10%; 
}

#enquiries {
    background-color: rgb(242, 236, 221);
    padding: 4%;
}



.map-responsive{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;

}

.map-responsive iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;
}



a {
    color: goldenrod;
}

